<section class="container-fluid mt-5 ms-5">
  <div class="row float-end mt-5">
    <div class="col-2 me-5  pb-5 pt-2 border box-hover ">
      <div class="d-flex flex-column mt-2 ">
        <h3 class="text-center fw-bold"> BANNER</h3>
        <img src="images/upload-2493114_960_720.webp" height="200px">
        <a href='admin/banner-upload' class="btn btn-primary mt-5 mb-1">Banner Upload</a>
      </div>
      
    </div>

    <div class="col-2 me-5  pb-5 pt-2 border box-hover">
        <div class="d-flex flex-column mt-2 ">
        <h3 class="text-center fw-bold"> PRODUCTS</h3>
        <img src="images/products.jpg" height="200px">
        <a href='admin/product-control' class="btn btn-primary mt-5 mb-1">Product Control</a>
      </div>
    </div>

    <div class="col-2 me-5  pb-5 pt-2 border box-hover">
        <div class="d-flex flex-column mt-2 ">
          <img src="images/order.jpg" height="200px">
        <h3 class="text-center fw-bold"> ORDERS</h3>
       <a href='admin/order-control' class="btn btn-primary mt-5 mb-1">Order Control</a>
      </div>
    </div>


    <div class="col-6 ms-5">
      
    </div>
  </div>





</section>