<section>

     <div class=" border border-2 border-dark p-3 mb-4">
        <form action="admin/add-banner" method="post" enctype="multipart/form-data">

          <input type="file" name="image">
          <input type="text" name="name">
          <button class="btn btn-primary" type="submit">Upload Banner</button>
        </form>

      </div>
</section>