<section>

<a class="float-end me-5 btn btn-primary" href="/admin/add-product">Add products</a>
<div>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</div>
  
</section>