<nav class=" navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container">
    <a class="navbar-brand me-5 ms-2 " href="/">E-mobile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mb-1 mb-lg-0">
        <li class="nav-item me-2">
            <a class="nav-link active" aria-current="page" href="#">ADMIN-LOGIN</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link active" aria-current="page" href="/admin">ADMIN-HOME</a>
          </li>
        
      </ul>
      
    </div>
  </div>
</nav>