<nav class=" d-lg-block d-none navbar navbar-expand-lg bg-search-button ">

    <div>

        <ul class="navbar-nav ms-4 category">
            <li class="nav-item ms-5 me-5 "><a  class = 'nav-link text-white' href='/product-category?cat=samsung'>Samsung</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="/product-category?cat=apple">Apple</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="/product-category?cat=oppo">Oppo</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="/product-category?cat=huwai">Huwai</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="/product-category?cat=redme">Redme</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="/product-category?cat=realme">Realme</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="/product-category?cat=nokia">Nokia</a></li>
        </ul>
    </div>

</nav>