<nav class=" d-lg-block d-none navbar navbar-expand-lg bg-search-button ">

    <div>

        <ul class="navbar-nav ms-4 category">
            <li class="nav-item ms-5 me-5 "><a  class = 'nav-link text-white' href="">Samsung</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="">Apple</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="">Oppo</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="">Huwai</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="">Redme</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="">Realme</a></li>
            <li class="nav-item ms-5 me-5"><a  class = 'nav-link text-white' href="">Nokia</a></li>
        </ul>
    </div>

</nav>