<nav class="navbar navbar-expand-lg navbar-light sticky-top z-3 bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand me-5 ms-2 brand " href="/">E-mobile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="/productsearch" method="post" class="d-flex me-auto ms-lg-5 ms-2 mt-2 input-group border border-1 border-dark rounded-2">
            <span class="fa-solid fa-search input-group-text p-3 bg-light"></span>
            <input id="search" class="border-0 ps-5 pe-5 form-control ui-widget" type="search" placeholder="Search Products" name="product_name" aria-label="Search" size="80">
                <button class="  ps-4 pe-4  bg-search-button text-white " type="submit">Search</button>
            </form>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav  mb-2 mb-lg-0">


                    <li class="nav-item dropdown me-5 ms-5 ">
                        <div class="row border border-2 rounded-3 p-2">
                            <div class="col-2">
                                <i class="fa-solid fa-user mt-2"></i>
                            </div>
                            <div class="col-6">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{#if user}}
                                        {{ user }}
                                    {{ else }}
                                       Sign In Account
                                    {{/if}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="/login">
                                            {{#if user}}
                                                logout
                                            {{ else }}
                                                Login
                                            {{/if}}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/signup">Signup</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="/orders">Track Orders</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item me-2">

                            <a class="nav-link active" aria-current="page" href="/cart">
                                <div class="d-flex">

                                    <i class="fa-solid fa-cart-shopping fs-2 text-primary me-1"></i>
                                    <span class="badge bg-success fs-6" id='qty'>0</span>
                                    
                                </div>
                                
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <script></script>
