{{!-- banner --}}

<section class="border border-1 border-dark">


    <img src="https://alaneesqatar.qa/wp-content/uploads/2023/07/Insta360-GO-3-HOME-BANNER.png" alt="banner" width="100%" height="300px">


</section>